* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #336fc8;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.filter-bar {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

input, select {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 300px; 
}


.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
}


.card {
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    background: rgb(75, 168, 162);
    transform: translateY(-5px); 
}

.card img {
    height: 150px;
    object-fit: contain; 
    margin-bottom: 10px;
}

.card h3 {
    font-size: 16px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.price {
    color: rgb(12, 153, 38);
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    background-color: #d44a4a;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1b1b1b;
    color: #d44a4a;
}


.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.modal-content {
    background: rgb(255, 255, 255);
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    gap: 20px;
    align-items: center;
}

.modal-body img {
    max-width: 200px;
}


@media (max-width: 600px) {
    .modal-body {
        flex-direction: column;
        text-align: center;
    }
}